#email-search{
    background-color: #004A80;
    color:#fff;
    padding: 0 0 3.5rem;
   
    .heading{
        justify-content: center;
        margin-bottom: 1rem;
        h1{
            font-weight: bold;
            font-size: 52px;
            margin-top: 2rem;
        }
    }
    .sub-heading{
        justify-content: space-around;
        margin-bottom: 1rem;
        margin: 0 auto 20px;
        span{
            font-size: 24px;
            color: #F6BC25;
            font-weight: 700;
        }
        h5{
            font-size: 24px;
            line-height: 29px;
        }
    }
    
    .icon-text{
        padding-left: 15px;
        .text{
            margin: 3px 5px 6px 14px;
            font-size: 16px;
            color: #F6BC25;
            font-weight: 700;
        }
    }
   
    .form{
        justify-content: space-around;
        margin-bottom: 1rem;
       .form-group{
        position:relative; 
        .floating-label { 
            position:relative; 
            margin-bottom:20px; 
          }
          .floating-input , .floating-select {
            font-size:14px;
            display:block;
            width:100%;
            padding: 1.8rem 1rem 0.8rem;
            height: 23px;
            border-radius:3px ;
          }
          
          .floating-input:focus , .floating-select:focus {
               outline:none;
               border: 2px solid #F6BC25;
               box-shadow: inset 0 -1px 4px 0 rgba(0,0,0,0.20);
          }  
          .error{
              display: none;
            text-transform: none;
            color: red;
            letter-spacing: 0;
            }
          label {
            font-size: 15px;
            color: #9B9B9B;
            letter-spacing: 1px;
            text-transform: uppercase;
            position:absolute;
            pointer-events:none;
            line-height: 18px;
            left:18px;
            top: 13px;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
          }
          
          .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
            top: 6px;
            font-size: 12px;         
          }
          
          .floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
            top:2px;
            font-size:14px;
          }
          
       }
            input[type=email]{
                font-size: 16px;
                color: #000000;
                letter-spacing: 2px;
                padding: 12px 13px;
                line-height: 18px;
            }
          
            .btn-submit{
                background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
    box-shadow: 0 0px 0 0 #A6953B, inset 0 0px 0 0 #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                color: #004A80;
                letter-spacing: 1px;
                padding: 0.6rem 3rem;
                border-radius: 6px;
                cursor: pointer;
                &:hover{
                    background-color: #F2DA56;
                }
            }
        
    }
   
}